body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d5e1ef;
}
.card{
    background-color: white;
    width: 25%;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
}
.container > h1{
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    font-weight: bold;
    width:fit-content;
}
.container > p{
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
}
img{
    border-radius: 10px;
    width: 100%;
}
.attribution { 
    padding-top: 10px;
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .card{
        width: 70%;
    }
  }